<div>
  <%= cl_image_tag("movie-theater") %>
</div>

<h1>Lists</h1>

<ol>
    <% @lists.each do |list| %>
  <li>
      <%= list.name %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      <%= link_to 'More Details', list_path(list) %>
  </li>
    <% end %>
</ol>

<%= link_to "Create a new List", new_list_path %>
