<h1><%= @list.name %></h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<ol>
  <% @bookmarks.each do |bookmark| %>
    <li>
        <%= bookmark.movie.title %>
        <%= image_tag bookmark.movie.poster_url %>
        <%= bookmark.comment %>
    </li>
  <% end %>
</ol>

<%= link_to 'Add a Movie', new_list_bookmark_path(@list) %> |
<%= link_to 'Back', root_path %>
